{% extends "layout.html" %}

{% block body %}

<div id="status">
    <table>
        <tr>
            <th>Floor</th>
            <th colspan="2">Washers</th>
            <th colspan="2">Dryers</th>
        </tr>
        <tr>
            <td>3</td>
            <td id="3LW"></td>
            <td id="3RW"></td>
            <td id="3LD"></td>
            <td id="3RD"></td>
        </tr>
        <tr>
            <td>2</td>
            <td id="2LW"></td>
            <td id="2RW"></td>
            <td id="2LD"></td>
            <td id="2RD"></td>
        </tr>
    </table>
</div>
<div id="charts">
    <div style="float:right;">Auto-update graphs: <input type="checkbox" id="update_checkbox" checked /></div>
    <br />
    <div class="chart" id="3W_chart"></div>
    <div class="chart" id="3D_chart"></div>
    <div class="chart" id="2W_chart"></div>
    <div class="chart" id="2D_chart"></div>
</div>
    
{% endblock body %}
